*.class

# Package Files #
*.war
*.ear

# Eclipse files #
.classpath
.project
.settings/

# Maven build files #
target/
*.xml
*.xml
violetproduct-swing/1.xml
*.xml
violetproduct-swing/arm_motors_check.xml
*.xml
violetproduct-swing/failsafe_battery_event.xml
violetproduct-swing/read_radio.xml
*.txt
